* {margin: auto 0; padding: 0; box-sizing: border-box;}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-primary);
  font-size: var(--fs-m);
}

h1{
  position: fixed;
  font-family: var(--ff-titles);
  text-transform: uppercase;
}

img{
  margin: 6rem 0;
  display: flex;
  width:60vw;
  align-content: center;
}

#header-container{
  background-color: var(--clr-secondary);
}