*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100vw;
    height: 100vw;
    display: flex;
    padding: 1rem;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    color: transparent;
    background-image: url("/assets/images/home-bg.jpg");
    background-clip: text;

}

h1{
    font-size: calc(2rem + 4vw);
}
h2{
    font-size: calc(1rem + 2vw);
}
body{
    background-size: cover;
    background-size: cover;

}