*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

#wrapper {
  display: flex; 
  flex-direction: row;
}

/* Add the header at the left of the video/page */
#header-container {
  position: fixed;
  z-index: 2;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.25);
  width: 100%;
  max-width: 12rem;
  height: 100vh;
  padding: 23px;
}

h3{
  font-size: var(--fs-m);
}

.header-item {
  place-items: center;
  height: 10rem;
  width: 150px;
  height: 50px;
}

a{
  text-decoration: none;
  color: black;
  font-size: var(--fs-m);
}

/* Style the video: 100% width and height to cover the entire window */

#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: center;
}

