:root {
  --color-background: #0a0a0a;
  --color-text: #fafafa;
}

body {
  background-color: var(--clr-bg);
}

h1 {
  font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
  margin: 4rem 0;
  font-size: 3rem;
  font-weight: 150;
  text-align: center;
}

.main-nav a {
  color: #eee;
}

main {
  margin: 0 auto;
  padding: 2em;
  max-width: 100rem;
}

section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2em;
  margin: 4rem 0;
}

section > * {
  flex: 4 6 20%;
}

section h2 {
  font-family: 'Julius Sans One', sans-serif;
  position: sticky;
  top: 1.75em;
  font-size: clamp(2rem, 5vw, 3rem);
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  line-height: 1.4;
  /* border-bottom: 1px solid white; */
}

section p {
  font-size: 2rem;
  line-height: 2;
  min-width: 20ch;
}