* {margin: auto 0; padding: 0; box-sizing: border-box;}

body {
  background-color: var(--clr-bg);
}
#box {
  color:gray;
  display: flex; 
  align-items: flex-start;
  flex-wrap: wrap;
  width: 60vw;
  min-width: 30rem;
  height: 70vh;
}

#box1{
}
#box2 p{
}
#box2 img{
  margin: 6rem 0;
  display: flex;
  width:60vw;

}
      