* {margin: auto 0; padding: 0; box-sizing: border-box;}

body {
  background-color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: var(--fs-m);
}

.content{
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 150px; 
}

#main-nav{
  background-image: url(/assets/imagesfromfilms/background-image.png);
}

img{
  margin: 1rem 0; 
  box-shadow: 16px -10px rgb(237, 237, 237); 
}

